body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* login */
.login-warp {
    width: 400px;
    height:300px;
    padding:16px;
    -webkit-border-radius:8px;
    -moz-border-radius:8px;
    -ms-border-radius:8px;
    -o-border-radius:8px;
    border-radius: 8px;
    box-shadow: 0 2px 6px #ccc;
    background-color: #fff;
    position: fixed;
    right:150px;
    top:50%;
    -webkit-transform: translate(0,-50%);
    -moz-transform: translate(0,-50%);
    -ms-transform: translate(0,-50%);
    -o-transform: translate(0,-50%);
    transform: translate(0, -50%);
}
.login-title{
  color: #1677ff;
  margin: 20px 0 50px;
}

/* admin.tsx */
.sider{
  overflow-x:hidden;
}
.sider::-webkit-scrollbar{
  width:2px;
  background-color: #ccc;
}

.main-content{
  overflow-x: hidden;
  padding:20px;
}

.mt8{
  margin-top:8px;
}

/* CreateCroupInfo */
.CreateGroupInfo .ant-input{
  display: inline-block;
  width: auto;
  max-width: 600px;
  min-width: 400;

}